# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

npm-login: &npm-login
  # NPM_TOKEN is manually defined in CircleCI
  # project settings > Build settings > Environment variables
  # Add the NPM_TOKEN name and the value is your npm token
  # Get your npm token via npm token create
  # https://docs.npmjs.com/cli/token
  run:
    name: Create .npmrc
    command: |
      echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc

jobs:
  build:
    docker:
    # specify the version you desire here
    - image: circleci/node:8.12.0
    working_directory: ~/repo
    steps:
    # Check out the git repo to the working directory
    - checkout
    # Create the .npmrc file so npm can auth for publishing
    - *npm-login
    - add-ssh-keys:
        fingerprints:
        # You need to add a deploy key with write permission in order for the CI to commit changes
        # back to the repo
        # https://circleci.com/docs/2.0/gh-bb-integration/#adding-readwrite-deployment-keys-to-github-or-bitbucket
        - "41:7b:3c:1a:2b:94:34:53:78:cb:9c:e9:49:5d:5c:8f"
    # Download and cache dependencies so subsequent builds run faster
    - restore_cache:
        keys:
        - dependencies-{{ checksum "yarn.lock" }}
        # fallback to using the latest cache if no exact match is found
        - dependencies-
    - run:
        name: Install deps
        command: |
          yarn install
    - save_cache:
        paths:
        - node_modules
        key: dependencies-{{ checksum "yarn.lock" }}
    - run:
        name: Run tests
        command: |
          yarn test
    - run:
        name: Build the libraries
        command: |
          yarn build
    - run:
        name: npm publish (master only)
        command: |
          .circleci/deploy.sh
